/* dashboard */
body{
	background-color: #ece0ce;
}
h1 {
    color: #16262E;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

#orders-button{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    background-color: #16262E;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

#orders-button:hover{
	filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#restaurant-card{
	background-color: #fefefd;
	border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#restaurant-card:hover{
	transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title{
	color: #16262E;
    font-size: 1.3em;
    font-weight: 600;
}

#view-button{
	background-color: #587C74;
	border: none;
    transition: 0.3s;
}

#view-button:hover{
	filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* costumer menu */
.goods-btns {
	display: flex;
	align-items: center;
}

.goods-btns i {
	cursor: pointer;
	margin: 0 1rem;
	font-size: 2rem;
}

.footer {
	height: 6rem;
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
}

.car-container {
	flex-grow: 1;
	background: #3d3d3f;
	position: relative;
}

.car {
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 2rem;
	bottom: 2rem;
	border-radius: 30%;
	background: #444;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60rem;
}

.totalGoods {
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: #ec5533;
	font-size: 2rem;
	text-align: center;
	border-radius: 50%;
	line-height: 3rem;
	right: -1rem;
	top: -1rem;
	display: block;
}

.car-price {
	font-size: 2rem;
	margin-top: 1rem;
	margin-left: 10rem;
	display: flex;
	align-items: center;
}

.footer-car-tip {
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-left: 10rem;
}

.footer-pay {
	height: 3rem;
	width: 13rem;
	background: #ec5533;
	justify-content: center;
	font-size: 2rem;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	right: 2rem;
	top: 1.5rem;
}
.popup-card {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	width: 300px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	z-index: 1000;
}

.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.popup-card button {
	margin-top: 10px;
}
