.container{
            display: flex;
            width: 500px;
            height: 700px;
            border-width: 2px;
            border-radius:10px;
            border-style: solid;

        }

.login_container{
    display: flex;
    width: 275px;
    height: 400px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    justify-content: center;
    align-items: center;
}

