/* login page */
body{
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
}

.container{
    display: center;
    width: 950px;
    height: 625px;
    border-width: 2px;
    border-radius:10px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 5px 5px 20px lightgray;
}

.login{
    display: inline-flex;
    margin: 25px;
    margin-top: -20px;
    width: 250px;
    height: 400px;
    border-width: 2px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px lightgray;
}

/*role button */
.login input[type="radio"]{
    display: none;
}

.radio-btn{
    position: absolute;
    height: 400px;
    width: 250px;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;  
    align-content: center;
    justify-content: center;
    font-size: large;
    background-color: white;
    transition: 0.5s 0.2s;
}

.radio-btn:hover{
    background-color: transparent;
    color: transparent;
}

.login input[type="radio"]:checked + .radio-btn {
    background-color: transparent; 
    color: transparent; 
}

/*role text field*/
input[type=text]{
    width: 150px;
    height: 30px;
    border: none;
    border-bottom:2px solid lightgray;
    font-size: 18px;
    text-align: center;
    transition: border-color 0.4s;
    font-family: 'Times New Roman', Times, serif;
}

input[type=text]:focus{
    border-color: gray;
    outline:none;

}

/* login button */
button[type=submit]{
    height: 40px;
    width: 80px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 6px;
    background-color: white;
box-shadow: 5px 5px 20px lightgray;
    transition: 0.4s;
}

button[type=submit]:hover{
    background-color: rgb(234, 234, 234);

}
