<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Payment</title>
		<!-- <link rel="stylesheet" href="/style.css" />
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f5f5f5;
				padding: 40px;
			}
			.container {
				max-width: 600px;
				margin: auto;
				background: #fff;
				padding: 25px;
				border-radius: 15px;
				box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			}
			h2 {
				text-align: center;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 20px;
			}
			th,
			td {
				padding: 10px;
				text-align: left;
				border-bottom: 1px solid #ddd;
			}
			.total {
				text-align: right;
				font-weight: bold;
				margin-top: 15px;
			}
			.pay-btn {
				background-color: #4caf50;
				color: white;
				border: none;
				padding: 10px 20px;
				border-radius: 8px;
				cursor: pointer;
				margin-top: 20px;
				float: right;
			}
		</style> -->
	</head>
	<body>
		<div class="container">
			<h2>Order Summary</h2>

			<table>
				<% mergedItems.forEach((item) => { %>
				<tr>
					<td><%= item.dish_name %></td>
					<td><%= item.quantity %></td>
					<td>$<%= item.price*item.quantity %></td>
				</tr>

				<%}); %>
				<tr>
					<th>Dish</th>
					<th>Quantity</th>
				</tr>
			</table>

			<button class="pay-btn">Pay Now</button>
		</div>
	</body>
</html>
